@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter an Image-URL</h1>
    <p>When you enter an url you will get AI-information about that image</p>
</div>
<form asp-action="ProcessUrl">
    <div>
        <label></label>
        <input name="url" />
        <button type="submit" class="btn btn-primary">Test</button>
    </div>
</form>


<h2>slutet på index</h2>
<p>----------------------------------------------------------------------------</p>

<div class="partialbox">
    @{
        await Html.RenderPartialAsync("ProcessUrl");
    }
</div>
