@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 indexTitel">Enter an Image-URL</h1>
    <p class="indexText">When you enter an url you will get AI-information about that image</p>
</div>
<form asp-action="ProcessUrl">
    <div>
        <label></label>
        <input name="url" />
        <button type="submit" class="btn btn-primary">Test</button>
    </div>
</form>

@*if no images found, it will be displayed in the index-home page*@
<h3 class="missingUrl" id="rollingText">@ViewBag.Url</h3>


<div>
    @{
        await Html.RenderPartialAsync("DisplayImages");
    }
</div>
