@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter an Image-URL</h1>
    <p>When you enter an url you will get AI-information about that image</p>
</div>
<form asp-action="ProcessUrl">
    <div>
        <label></label>
        <input name="url" />
        <button type="submit" class="btn btn-primary">Test</button>
    </div>
</form>

@*if no images found, it will be displayed in the index-home page*@
<h3>@ViewBag.Url</h3>

<h2>slutet på index</h2>
<p>----------------------------------------------------------------------------</p>


<div>
    @{
        await Html.RenderPartialAsync("DisplayImages");
    }
</div>
