@model Dictionary<string, string>
@{
    ViewData["Title"] = "ProcessOnlineUrl";
}

<ul class="cvContainer">
    @if (Model != null)
    {
        @foreach (var description in Model)
        {
            <li class="cvTitel">@description.Key</li>
            <p class="cvText">@Html.Raw(description.Value)</p>
        }
    }
</ul>
