@model Dictionary<string, string>
@{
    ViewData["Title"] = "ProcessUrl";
}
<img src="~/Images/@ViewBag.SingleImage" class="viewSingleImage" />
<h3>@ViewBag.SingleImage</h3>
<form asp-action="getThumbnail">
    <label></label>
    <input type="hidden" name="url" value="@ViewBag.SingleImage" />
    <button type="submit" class="btn btn-primary">Get Thumbnail</button>
</form>


<ul class="cvContainer">
    @if (Model != null)
    {        
        @foreach (var description in Model)
        {
            <li class="cvTitel">@description.Key</li>
            <p class="cvText">@description.Value</p>
        }
    }
</ul>
