@model List<string>

<div class="imageContainer">
    @if (Model != null)
    {
        @foreach (var image in Model)
        {
            <div class="imageCover">
                <p class="imageTitel">@image</p>
                <a asp-action="ProcessUrl" asp-route-url="@image">
                    <img src="/Images/@image" class="images" />
                </a>
            </div>
        }
    }
</div>