@model List<string>
@{
    ViewData["Title"] = "ProcessUrl";
}

<h1>ProcessUrl</h1>
<ul>
    @if (Model != null)
    {
        @foreach (var description in Model)
        {
            <li>@description</li>
        }
    }
</ul>